.error-input-field {
    text-align: center;
    font-size: 24px;
    color: var(--main-white-color);
}

@media screen and (max-width: 399px) {
    .error-input-field {
        text-align: center;
        font-size: 16px;
        color: var(--main-white-color);
    }
}

@media screen and (min-width: 400px) and (max-width: 799px) {
    .error-input-field {
        text-align: center;
        font-size: 20px;
        color: var(--main-white-color);
    }
}

@media screen and (min-width: 800px) and (max-width: 1399px) {
    .error-input-field {
        text-align: center;
        font-size: 20px;
        color: var(--main-white-color);
    }
}

.error-field {
    text-align: center;
    font-size: 24px;
    color: var(--main-white-color);
}

@media screen and (max-width: 399px) {
    .error-field {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 18px;
        color: var(--main-white-color);
    }
}